<html>
    <head>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <div ng-controller="pelajardetails"></div>
            <div class="subdetails-header">
                <div class="previous-button"><a href="#!pelajar">&#8249;</a></div>
                <h3>Butiran Pelajar</h3>
            </div>
            <div ng-if="sessionUser">
                <div class="details-container">
                    <div id="box-title">Nama Pelajar</div>
                    <div class="nama-details-inside-container">
                        <p>{{filteredArray1[0].nama}}</p>
                    </div>
                </div>
                <div class="flex-container">
                    <div class="details-container">
                        <div id="box-title">No. Matric</div>
                        <div class="details-inside-container">
                            <p>{{filteredArray1[0].no_matrik}}</p>
                        </div>
                    </div>
                    <div class="details-container">
                        <div id="box-title">Tahun/Program</div>
                        <div class="details-inside-container">
                            <p>{{filteredArray1[0].tahun_kursus}}</p>
                            <p>/</p>
                            <p>{{filteredArray1[0].kod_kursus}}</p>
                        </div>
                    </div>
                    <div class="details-container">
                        <div id="box-title">Bil Subjek</div>
                        <div class="details-inside-container">
                            <p>{{filteredArray1[0].bil_subjek}}</p>
                        </div>
                </div>
                <br>
                <div class="table-content">
                    <div id="box-title">Pensyarah Subjek</div>
                    <table class="jadual">
                        <tr>
                            <th>Bil.</th>
                            <th>Kod Subjek</th>
                            <th>Nama Subjek</th>
                            <th>Seksyen</th>
                            <!-- <th>Kod Fakulti</th> -->
                            <th>Pensyarah</th>
                        </tr>
                        <tr ng-repeat="item in filteredArray2">
                            <td id="text-center">{{$index+1}}</td>
                            <td class="bw">{{item.kod_subjek}}</td>
                            <td>{{item.nama_subjek}}</td>
                            <td id="text-center">{{item.seksyen}}</td>
                            <!-- <td></td> -->
                            <td >{{item.nama_pensyarah}}</td>
                        </tr> 
                    </table>
                    <br>
                </div>
            </div>
            <div ng-hide="sessionUser">
                <h4 class="error-message">You must be logged in to view this page!</h4>
            </div>
        </div>
    </body>
</html>